//sass --watch  ./scss/style.scss:./css/style.css

// header
.page-header {
    align-items: center;
    display: flex;
    min-height: 20rem;

    > .content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-between;
        max-width: 130rem;
        padding: 3rem 3rem;
        width: 100%;

        .heading {
            display: flex;
            flex-basis: 70%;
            flex-direction: column;

            > .title {
                color: $color-white;
                font-size: 3.2rem;
                font-weight: 700;

                @include breakpoint(mobile) {
                    font-size: 2.3rem;
                }

                @include breakpoint(desktop-small) {
                    font-size: 5.2rem;
                }
            }

            > .subtitle {
                color: $color-white;
                font-size: 1rem;
                line-height: 2rem;

                @include breakpoint(desktop-small) {
                    font-size: 1.4rem;
                    line-height: 5rem;
                }
            }

            @include breakpoint(mobile) {
                flex-basis: 100%;
            }
        }

        > .image {
            flex-basis: 30%;

            @include breakpoint(mobile) {
                display: none;
            }
        }

        @include breakpoint(mobile) {
            justify-content: center;
            padding: 3rem $spacing;
        }
    }

    @include breakpoint(desktop-small) {
        min-height: 30rem;
    }
}

.page-main {
    display: flex;
    background: $color-white;
    transform: skewY(3deg);

    > .content {
        margin: 0 auto;
        max-width: 120rem;
        transform: skewY(-3deg);
        padding: 3rem 3rem;

        @include breakpoint(mobile) {
            padding: 3rem $spacing;
        }
    }
}

// seção principal
.info-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -3rem;
    margin-right: -3rem;

    > .item {
        align-items: center;
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        padding: $spacing+1rem;

        > .img {
            max-height: 100px;
        }

        > .text {
            padding-left: $spacing;

            > .title {
                color: $alternate-color;
                font-size: 1.1rem;
                font-weight: 700;
                margin-bottom: 0.6rem;

                @include breakpoint(desktop-small) {
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                }
            }

            > .description {
                color: $main-color;
                font-size: 0.8rem;
                line-height: 1.2;

                @include breakpoint(desktop-small) {
                    font-size: 1rem;
                }
            }

            @include breakpoint(mobile) {
                padding-left: 1rem;
            }
        }

        @include breakpoint(mobile) {
            flex-basis: 100%;
            padding: $spacing;
        }
    }

    @include breakpoint(mobile) {
        margin-left: -$spacing;
        margin-right: -$spacing;
    }
}

//seção newsletter
.page-footer {
    align-items: center;
    display: flex;
    min-height: 20rem;

    > .content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 80rem;
        padding: 3rem 3rem;
        width: 100%;

        > .image {
            flex-basis: 50%;

            @include breakpoint(mobile) {
                flex-basis: 100%;
            }
        }

        @include breakpoint(mobile) {
            flex-direction: column;
            padding: 3rem 2rem;
        }
    }

    @include breakpoint(desktop-small) {
        min-height: 30rem;
    }
}

.form-container {
    flex-basis: 50%;

    > .title {
        color: $color-white;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @include breakpoint(desktop-small) {
            font-size: 3.4rem;
        }
    }

    > .description {
        color: $color-white;
        font-size: 1rem;
        line-height: 1.2;
        margin-bottom: 2rem;

        @include breakpoint(desktop-small) {
            font-size: 1.2rem;
        }
    }

    @include breakpoint(mobile) {
        flex-basis: 100%;
        margin-top: $spacing;
    }
}

.newsletter-form {
    > .control {
        display: flex;
        justify-content: center;

        > .input {
            background-color: transparent;
            border: 0;
            border-bottom: 4px solid $alternate-color-light;
            color: $color-white;
            display: flex;
            flex: 1;
            font-size: 1rem;
            max-width: 50rem;
            min-height: 1rem;
            outline: none;
            padding: 10px 0;

            &:focus {
                border-color: $alternate-color-darker;
            }

            @include breakpoint(desktop-small) {
                font-size: 1.2rem;
            }
        }

        > .action {
            align-items: center;
            background-color: $alternate-color-light;
            border: 0;
            border-radius: 20px;
            color: $color-white;
            cursor: pointer;
            display: flex;
            font-size: 0.8rem;
            font-weight: 700;
            min-height: 1rem;
            outline: 0;
            padding: 1rem $spacing;

            &:hover {
                background-color: $alternate-color-darker;
            }

            @include breakpoint(mobile) {
                padding: 0.8rem 1rem;
            }

            @include breakpoint(desktop-small) {
                font-size: 1rem;
            }
        }
    }
}
